.dashboard-container {
   display: flex;
   height: 100vh;
   overflow: hidden;
   position: relative;
}


/* Body content */
.dashboard-body {
   flex: 1;
   overflow-y: auto;
   padding: 1rem;
   background-color: #f8f9fa;
}

/* Hamburger button */
.hamburger-button { 
   position: absolute;
   top: 1rem;
   left: 1rem;
   z-index: 1000;
   background-color: #fff;
   border: none;
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
   .hamburger-button {
      display: none;
   }
}