.mainContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bottom {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 2rem 2rem;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .bottom {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}
