@media screen and (max-width: 500px) {
   .heading {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
   }
}

@media screen and (max-width: 918px) {
   .heading { 
      flex-direction: row;
      align-items: center;
      gap: 1rem;
   }
}

@media screen and (max-width: 602px) {

   .loginPage .container,
   .registerPage .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;
   }

   .loginPage .container .videoDiv,
   .registerPage .container .videoDiv {
      width: 100%;
   }

   .loginPage .container .videoDiv .textDiv .title,
   .registerPage .container .videoDiv .textDiv .title {
      font-size: 20px;
   }

   .loginPage .container .videoDiv .textDiv p,
   .registerPage .container .videoDiv .textDiv p {
      padding: 1rem;
   }

   .loginPage .container .videoDiv .footerDiv .text,
   .registerPage .container .videoDiv .footerDiv .text {
      font-size: 12px;
   }

   .loginPage .container .videoDiv .footerDiv .btn,
   .registerPage .container .videoDiv .footerDiv .btn {
      padding: 0.4rem 1.5rem;
   }

   .loginPage .container .formDiv,
   .registerPage .container .formDiv {
      gap: 1rem;
      transform: translateY(-0.5rem);
   }

   .loginPage .container .formDiv .headerDiv,
   .registerPage .container .formDiv .headerDiv {
      padding: 1rem 0;
   }

   .loginPage .container .formDiv .headerDiv img,
   .registerPage .container .formDiv .headerDiv img {
      width: 40px;
   }

   .loginPage .container .formDiv .headerDiv h3,
   .registerPage .container .formDiv .headerDiv h3 {
      font-size: 20px;
   }

   .loginPage .container .formDiv .form,
   .registerPage .container .formDiv .form {
      gap: 0.5rem;
   }

   .loginPage .container .formDiv .form .inputDiv input,
   .registerPage .container .formDiv .form .inputDiv input {
      width: 100%;
   }
}

@media screen and (max-width: 678px) {

   .loginPage .container .videoDiv .textDiv .title,
   .registerPage .container .videoDiv .textDiv .title {
      font-size: 20px;
   }

   .loginPage .container .videoDiv .textDiv p,
   .registerPage .container .videoDiv .textDiv p {
      padding: 1rem;
   }

   .loginPage .container .videoDiv .footerDiv .text,
   .registerPage .container .videoDiv .footerDiv .text {
      font-size: 12px;
   }

   .loginPage .container .videoDiv .footerDiv .btn,
   .registerPage .container .videoDiv .footerDiv .btn {
      padding: 0.4rem 1.5rem;
   }

   .loginPage .container .formDiv .headerDiv,
   .registerPage .container .formDiv .headerDiv {
      padding: 1.5rem 0;
   }

   .loginPage .container .formDiv .headerDiv h3,
   .registerPage .container .formDiv .headerDiv h3 {
      font-size: 20px;
   }

   .loginPage .container .formDiv .inputDiv input,
   .registerPage .container .formDiv .inputDiv input {
      width: 100%;
      max-width: 200px;
   }
}

@media screen and (max-width: 927px) {

   .loginPage .container,
   .registerPage .container {
      width: 85%;
   }
}

@media screen and (max-width: 1440px) {

   .loginPage .container,
   .registerPage .container {
      width: 90%;
   }

   .heading {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
   }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {

   .loginPage .container,
   .registerPage .container {
      width: 95%;
      max-width: 1440px;
      padding: 2rem;
   }

   .loginPage .heading,
   .registerPage .heading {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
   }

   .loginPage .videoDiv .textDiv .title,
   .registerPage .videoDiv .textDiv .title {
      font-size: 24px;
   }

   .loginPage .footerDiv .text,
   .registerPage .footerDiv .text {
      font-size: 14px;
   }

   .loginPage .footerDiv .btn,
   .registerPage .footerDiv .btn {
      padding: 0.6rem 2rem;
   }

   .loginPage .formDiv,
   .registerPage .formDiv {
      gap: 2rem;
      transform: translateY(0);
   }

   .loginPage .formDiv .headerDiv img,
   .registerPage .formDiv .headerDiv img {
      width: 60px;
   }

   .loginPage .formDiv .headerDiv h3,
   .registerPage .formDiv .headerDiv h3 {
      font-size: 24px;
   }

   .loginPage .formDiv .form .inputDiv input,
   .registerPage .formDiv .form .inputDiv input {
      max-width: 400px;
   }
}

::-webkit-scrollbar {
   display: none;
}

/*# sourceMappingURL=Login.css.map */