.favorite-page {
   padding: 20px;
}

h2 {
   text-align: center;
   font-size: 24px;
   margin-bottom: 40px;
   margin-top: 20px;
}

.favorite-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px; 
   justify-items: center;
}

.favorite-item {
   position: relative;
   width: 250px;
   height: 300px;
   background-color: #f1f1f1;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   border-radius: 8px;
}

.heart-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   color: red;
}

.flower-name {
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 10px;
}